In [8]:
import pandas as pd

In [9]:
prob_1_data = 'data/captured_data/phase-1/prob-1/'
prob_2_data = 'data/captured_data/phase-1/prob-2/'

In [15]:
prob_2_data1 = 'data/captured_data/phase-1/prob-2/'
# prob_2_data1 = 'data/trained_data/phase-1/prob-2/'

In [16]:
prob_2_data = pd.read_parquet(path=prob_1_data)
prob_2_data = prob_2_data.dropna()
prob_2_data

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,is_drift,batch_id
0,-1.0,-1.0,V4,V6,2789.261637,V0,V1,4.0,V1,V0,...,23.967582,none,V0,1.0,V2,1.0,none,yes,0.0,22.0
1,-1.0,-1.0,V3,V2,1487.622076,V0,V3,1.0,V1,V0,...,23.523359,none,V1,1.0,V2,1.0,yes,yes,0.0,22.0
2,-1.0,-1.0,V4,V3,9287.261034,V0,V4,1.0,V2,V0,...,38.988204,none,V2,2.0,V2,1.0,none,yes,0.0,22.0
3,-1.0,-1.0,V2,V2,1409.560432,V0,V2,4.0,V1,V0,...,32.898741,none,V1,1.0,V1,1.0,none,yes,0.0,22.0
4,-1.0,-1.0,V2,V1,858.849618,V0,V2,4.0,V2,V0,...,31.411723,bank,V1,2.0,V3,2.0,yes,yes,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332355,-1.0,-1.0,V2,V0,2423.243127,V0,V3,4.0,V1,V0,...,25.751338,none,V1,1.0,V2,1.0,yes,yes,0.0,31.0
332356,-1.0,-1.0,V2,V6,7249.801588,V1,V1,2.0,V1,V0,...,34.821533,none,V2,1.0,V3,1.0,yes,yes,0.0,31.0
332357,-1.0,-1.0,V0,V3,3089.124657,V0,V1,3.0,V1,V0,...,34.054768,none,V1,2.0,V3,1.0,yes,yes,0.0,31.0
332358,-1.0,-1.0,V4,V2,5072.883421,V4,V0,2.0,V1,V0,...,24.983924,none,V1,2.0,V2,1.0,none,yes,0.0,31.0
332359,-1.0,-1.0,V2,V3,1376.357704,V2,V3,3.0,V2,V0,...,32.030439,none,V2,1.0,V2,2.0,yes,yes,0.0,31.0

In [11]:
df1 = pd.get_dummies(df1)
df1

,feature1,feature2,feature5,feature8,feature11,feature13,feature16,feature18,is_drift,batch_id,...,feature15_null,feature17_V0,feature17_V1,feature17_V2,feature17_V3,feature19_none,feature19_unknown,feature19_yes,feature20_no,feature20_yes
0,-1.0,-1.0,2789.261637,4.0,2.0,23.967582,1.0,1.0,0.0,22.0,...,False,False,False,True,False,True,False,False,False,True
1,-1.0,-1.0,1487.622076,1.0,2.0,23.523359,1.0,1.0,0.0,22.0,...,False,False,False,True,False,False,False,True,False,True
2,-1.0,-1.0,9287.261034,1.0,2.0,38.988204,2.0,1.0,0.0,22.0,...,False,False,False,True,False,True,False,False,False,True
3,-1.0,-1.0,1409.560432,4.0,3.0,32.898741,1.0,1.0,0.0,22.0,...,False,False,True,False,False,True,False,False,False,True
4,-1.0,-1.0,858.849618,4.0,4.0,31.411723,2.0,2.0,0.0,22.0,...,False,False,False,False,True,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235215,-1.0,-1.0,4128.090002,2.0,4.0,21.271955,1.0,1.0,0.0,29.0,...,False,False,False,True,False,False,False,True,False,True
235216,-1.0,-1.0,4011.541101,2.0,3.0,20.984528,1.0,1.0,0.0,29.0,...,False,False,False,True,False,False,False,True,False,True
235217,-1.0,-1.0,1238.229603,4.0,3.0,21.735318,1.0,1.0,0.0,29.0,...,False,False,True,False,False,True,False,False,False,True
235218,-1.0,-1.0,1549.651524,4.0,2.0,44.934574,1.0,1.0,0.0,29.0,...,False,False,False,True,False,False,False,True,False,True
235219,-1.0,-1.0,2507.458132,2.0,4.0,25.638292,1.0,1.0,0.0,29.0,...,False,False,False,True,False,True,False,False,False,True